<html>    
<body>
    <h1>Kitensense's Score Predictor </h1>
    <h2>Expected mistakes</h2>  
    <form action = "/" method = "post">
        <p>Please enter the expected number of careless mistakes : </p>
        <p><input type = "number" step = "1" name = "careless"></p>
        <p>Please enter the expected number of conceptual mistakes : </p>
        <p><input type = "number" step = "1" name = "conceptual"></p>
        <p>Please enter the expected number of presentation mistakes : </p>
        <p><input type = "number" step = "1" name = "presentation"></p>
        <h2>Confidence level for topics</h2>
        <p>Please enter the confidence level for Topic 1 (0-10) : </p>
        <p><input type = "number" step = "1" name = "topic_1"></p>
        <p>Please enter the confidence level for Topic 2 (0-10) : </p>
        <p><input type = "number" step = "1" name = "topic_2"></p>
        <p>Please enter the confidence level for Topic 3 (0-10) : </p>
        <p><input type = "number" step = "1" name = "topic_3"></p>
        <p>Please enter the confidence level for Topic 5 (0-10) : </p>
        <p><input type = "number" step = "1" name = "topic_5"></p>
        <p>Please enter the confidence level for Topic 6 (0-10) : </p>
        <p><input type = "number" step = "1" name = "topic_6"></p>
        <p>Please enter the confidence level for Topic 7 (0-10) : </p>
        <p><input type = "number" step = "1" name = "topic_7"></p>
        <p>Please enter the confidence level for Topic 8 (0-10) : </p>
        <p><input type = "number" step = "1" name = "topic_8"></p>
        <p>Please enter the confidence level for Topic 9 (0-10) : </p>
        <p><input type = "number" step = "1" name = "topic_9"></p>
        <p>Please enter the confidence level for Topic 10 (0-10) : </p>
        <p><input type = "number" step = "1" name = "topic_10"></p>
        <p><input type = "submit" value = "Enter"></p>
    </form>
    {{result}}
</body>
</html>